<!DOCTYPE html>
<html lang="{{request.locale_name}}">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>

	<link href="https://fonts.googleapis.com/css?family=Exo+2:300,400" rel="stylesheet"/>
	<!-- required -->
	<link rel="stylesheet" type="text/css" media="all" href="{{request.static_url('carlo:static/stellarnav/css/stellarnav.css')}}"/>
	<!-- required -->
	<title>Pro Loco San Piero</title>
		<meta name="description" content="Responsive Multi-Level Menu: Space-saving drop-down menu with subtle effects" />
		<meta name="keywords" content="multi-level menu, mobile menu, responsive, space-saving, drop-down menu, css, jquery" />
		<meta name="author" content="Carlo Zanieri" />
		<link rel="shortcut icon" href="../favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="{{request.static_url('carlo:static/menu_6/css/default.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{request.static_url('carlo:static/menu_6/css/component.css')}}" />
		<script src="{{request.static_url('carlo:static/menu_6/js/modernizr.custom.js')}}"></script>
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
		<link rel="stylesheet" type="text/css" href="{{request.static_url('carlo:static/menu_6/css/default.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{request.static_url('carlo:static/menu_6/css/component.css')}}" />
    <!-- css files -->
    <link rel="stylesheet" href="{{request.static_url('carlo:static/MENU/css/style.css')}}"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- js files -->
    <style>
.content { margin:50px auto; max-width:728px; line-height:1.7}

    </style>
<style>
/* styles for this sample only */
*{ margin: 0; padding: 0; }
body { height: 3200px; font-size: 16px; font-family: 'Exo 2', sans-serif; background: #efefef; color: #555; }
.header { text-align: center; }
.header a { padding: 30px 0 0; display: block; font-size: 48px; text-decoration: none; color: #555; }
.header p { margin: 10px 0 40px 0; font-size: 18px; }
.container { max-width: 1200px; margin: 0 auto; }
@media only screen and (max-width : 1000px) {
	.stellarnav > ul > li > a { padding: 20px 23px; }
}
/* styles for this sample only */
</style>

</head>


<header>
	<img src="{{request.static_url('carlo:static/img/logo.jpg')}}" width="5%" height="5%" style="float: left;"/><p style=" display: inline; vertical-align: baseline; color:#7e342d; font-weight: bold; font-size: 96px; align: center; margin-left:25%"> Pro Loco <h1   style=" vertical-align: text-baseline; display: inline; color:#7e342d; font-size: 48px; text-align: center;" >S.Piero a Sieve</h1><img src="{{request.static_url('carlo:static/img/logo.jpg')}}" width="5%" height="5%" style="float: right;"> </p>

	<div class="header">

	</div>
	<div class="stellarnav">
		<ul>
			{% for menus in menu %}
			<li>

                				<a href="{{ menus[6] }}" class="gn-icon gn-icon-help">{{menus[4]}}</a>
								<ul class="dl-submenu">
									{% for submenus in submenu %}
									<li >

                        					<a href="{{submenus.link}}" > <span></span> {{submenus.titolo}}</a>

									</li>
									{% endfor %}
								</ul>
							</li>
			{% endfor%}

		</ul>
	</div><!-- .stellarnav -->

	<!-- required -->
	<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script type="text/javascript">
		jQuery(document).ready(function($) {
			jQuery('.stellarnav').stellarNav({
				theme: 'dark',
				breakpoint: 960,
				position: 'right',
				phoneBtn: '18009997788',
				locationBtn: 'https://www.google.com/maps'
			});
		});
	</script>
	<!-- required -->
</header>
<body>


<br/>
<br/>
<center/>

<h2>File submission form (single)</h2>
<form action="/store_mp3_view" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">

    <label for="file">File </label>
    <input id="file" name="file" type="file" value="" />

    <input id="dir" name="dir" type="hidden" value="/srv/http/pyramid/carlo/pyramid/carlo/carlo/static/img/mugello/" />

    <input type="submit" value="submit" />
</form>

<br/>
<br/>


</body>
<footer>
	<h1><p style="color:#000000; margin-left:30%; margin-right:25%; margin-top:10%; margin-bottom:5%;">Si ringraziano gli Sponsor</p></h1>
	<div class="flex" ><img  src="{{request.static_url('carlo:static/img/Sponsor SPS 2020.jpg')}}"/></div>
</footer>
</html>
